<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="single-product">
      <div class="part-1" [ngStyle]="{'background-image': getUrl()}">
          <ul>
              <li><a (click)="agregarACarrito()"><i class="fas fa-shopping-cart"></i></a></li>
              <li><a href="#"><i class="fas fa-heart"></i></a></li>
              <li><a href="#"><i class="fas fa-plus"></i></a></li>
              <li><a href="#"><i class="fas fa-expand"></i></a></li>
          </ul>
      </div>
      <div class="part-2">
          <h3 class="product-title">{{ producto.nombre }}</h3>
          <h4 class="product-price"><strong>ARS</strong> ${{ producto.precio_en_pesos }}</h4>
          <br>
          <h4 class="product-price"><strong>USD</strong> ${{ producto.precio_en_dolares }}</h4>
      </div>
  </div>
</div>
